* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  color: rgb(20, 20, 20);
}

body {
  font-family: "Oswald", sans-serif;
}

h3 {
  font-weight: 500;
  color: rgb(19, 19, 19);
}
h4 {
  font-weight: 300;
  color: rgb(19, 19, 19);
}

@import "./_player";
@import "./_song";
@import "./_library";
